@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Sora", sans-serif;
  --blue: #006ada;
  --steelgray: #222233;
  --vulcan: #12121c;
  --gray: #88888d;
  --green: #57efb4;
}
